<h1>Editing lunch</h1>

<%= render "form", lunch: @lunch %>

<br>

<div>
  <%= link_to "Show this Lunch", @lunch, class:"btn btn-info" %> 
  <%= link_to "Back to Lunches", lunches_path, class:"btn btn-info" %>
</div>
