<h1>Editing Breakfast</h1>

<%= render "form", breakfast: @breakfast %>

<br>

<div>
  <%= link_to "Show this Breakfast", @breakfast, class:"btn btn-info" %>
  <%= link_to "Back to Breakfasts", breakfasts_path, class:"btn btn-info" %>
</div>
