<h1>Editing dinner</h1>

<%= render "form", dinner: @dinner %>

<br>

<div>
  <%= link_to "Show this Dinner", @dinner, class:"btn btn-info" %> 
  <%= link_to "Back to Dinners", dinners_path, class:"btn btn-info" %>
</div>
